@mixin box-shadow($px){
    box-shadow: $px; 
	-o-box-shadow: $px;
    -ms-box-shadow: $px;
    -moz-box-shadow: $px;
	-khtml-box-shadow: $px;
	-webkit-box-shadow: $px;
}

@mixin transition ($seconds) {
	transition: $seconds;
	-o-transition: $seconds;
	-ms-transition: $seconds;
	-moz-transition: $seconds;
	-khtml-transition: $seconds;
	-webkit-transition: $seconds;
}