/************************* 
	Media Queries
///**********************/
@media only screen and(min-width: 1800px) {

	/*************************
		Home Style
	///**********************/
	 
}/*/// 1800px ///*/

@media only screen and(max-width: 1800px) {

	/*************************
		Home Style
	///**********************/
	 
}/*/// 1800px ///*/

@media only screen and(max-width: 1600px) {

	/*************************
		Home Style
	///**********************/
	 
}/*/// 1600px ///*/

@media only screen and(max-width: 1460px) {

	/*************************
		Home Style
	///**********************/
	 
}/*/// 1460px ///*/

@media only screen and(max-width: 1366px) {

	/*************************
		services
	*************************/
	.services {
	    margin: 110px 0;

	    .btn {
			padding: 35px;
		}
	}
	 
}/*/// 1366px ///*/

@media only screen and(max-width: 1199px) {

	/// H1 -- h6
	h1, .h1 {
		font-size: 35px;
    	line-height: 46px;
	} 
	/*************************
		header
	///**********************/
	.header {	

		.navbar {
			z-index: 99;

			.navbar-header {

				width: 100%;
				display: flex;
				justify-content: space-between;

				.search-icon {

					.search-triger {

						i.fa-search {

						}
					}
				}

				.navbar-toggler {
					margin: 0;
				    border: 0;
				    padding: 0;
				    width: 32px;
				    display: block;
				    border-radius: 0;
				    background: transparent;

					span.bar-menu {
				        height: 6px;
				        width: 100%;
				        display: block;
				        border-radius: 0;
				        background-color: $yellow; 
				        @include transition(all .5s ease);

				        &:not(:last-child) {
				        	margin-bottom: 6px;
				        }
				    }

				    &:hover { 

			            span:first-child { 
			           		transition: 0.5s;
			           		transform: translateY(-2px);
			            }

			            span:last-child {
			            	transition: 0.5s;
			            	transform: translateY(2px);
			       		} 
			   		}

			   		&:focus {
				    	outline: none;
				    }
				}
			}

			.navbar-collapse {
				display: none;
				border-top: 1px solid #DDD;
			}
		}
	}
	/*************************
		sidr mobile-menu 
	///**********************/
	.sidr {
		z-index: 999;
		display: block ;
		background-color: #f9f9f9;
		box-shadow: 0px 0px 10px rgb(0 0 0 / 26%);

		.sidr-inner {

			.mobile-menu {
				font-weight: 700;
				font-family: $spori;
				display: block !important;

				.menu-header {
					padding: 11px 17px 17px;	
					box-shadow: 0px 0px 15px rgb(0 0 0 / 6%);


					.logo {

						img {
		 					width: 100%;
		 					height: 60px;
		 					max-width: 165px;
		 				}

						.sidr-close {
						    border: 0;
							margin: 0;
						    padding: 0;
						    width: 32px;
							float: right;
						    display: block;
						    border-radius: 0;
						    background: transparent;

						    span.bar-menu:first-child {
						        transform: translateY(16px) rotate(45deg);
						    }

						    span.bar-menu:last-child {
						        transform: translateY(-16px) rotate(-45deg);
						    }

							span.bar-menu {
						        width: 100%;
						        height: 6px;
						        display: block;
						        border-radius: 0;
						        background-color: $yellow; 

						        &:nth-child(2) {
						        	opacity: 0;
						        }
						        &:not(:last-child) { 
						        	margin: 10px 0;
						        }
							}

					   		&:focus {
						    	outline: none;
						    }

						}
					}
				}

				.menu {

					.navbar-nav {
						border: none;
						margin: -14px 0;
						margin-top: -5px;

						li {  
							border: none;
							padding: 14px 0;
							padding-left: 15px;
							border-bottom: 1px solid rgba(221, 221, 221, 0.3) !important;

							a { 
								color: $blue; 
								font-size: 22px;
								line-height: 30px;
								position: relative;

								&:focus, &.active {
									color: $yellow;
									text-decoration: none;

									&:after {
										top: 10px;
										left: -2px;
										content: "";
										width: 12px;
										height: 12px;
										position: absolute;
										border-radius: 50px;
										background: $yellow;
										border: 2px solid #fff;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	/*************************
		woner
	///**********************/
	.woner {

		.row { 
			height: 580px;

			.content {
				height: 580px;
			}

			.slider-img {
				left: 49%; 
				max-width: 500px;
			}
		}
	}
}/*/// 1199px ///*/

@media only screen and(max-width: 991px) {

	/// H1 -- h6
	h1, .h1 {
		font-size: 33px;
    	line-height: 44px;
	}
	h2, .h2 {
		font-size: 30px;
		line-height: 40px;
	}
	/// Button 
	.btn {
		font-size: 17px;
		padding: 10px 28px;	
	}
	/*************************
		woner
	///**********************/
	.woner {

		.row { 
			height: 570px;

			.content {
				height: 570px; 
			}

			.slider-img {
				left: 35%;
				max-width: 480px; 
			}
		}
	}
	/*************************
		services
	*************************/
	.services {

		.product-list {
			margin-bottom: 30px;

			.single-item {
				width: 25%;
				margin-bottom: 18px;

				&:nth-child(2) { 
					width: 73%;
				} 

				&:nth-child(4){
					width: 73%;
				}

				&:nth-child(5){
					margin-left: 0%;
				}

				&:nth-child(6){
				}

				&:nth-child(7){
					margin-left: 2%;
				}

				&:nth-child(8){
					width: 46%;
					margin-left: -21%;
				}

				&:nth-child(9){
					margin-left: 0;
				}

				&:nth-child(10){ 
					margin-left: -14%;
				} 
			}
		}

		.btn {
			padding: 30px;
		}
	}
	 
}/*/// 991px ///*/

@media only screen and(max-width: 767px) {

	/// Button 
	.btn {
		padding: 10px 24px;	
	}
	/*************************
		woner
	///**********************/
	.woner {

		.row { 
			height: 480px;

			.content {
				height: 480px;

				p {
					font-size: 14px;
				}
			}

			.slider-img {
				left: 32%;
				max-width: 380px;
			}
		}
	}
	/*************************
		services
	*************************/
	.services {

		.content {

			p {
				font-size: 15px;
			}
		}

		.product-list {
			margin-bottom: 30px;

			.single-item {
				margin-bottom: 18px;
				width: 100% !important;

				&:nth-child(2) { 
					margin-left: 0%;
					width: 100% !important;
				} 

				&:nth-child(4){
					margin-left: 0%;
					width: 100% !important;
				}

				&:nth-child(5){
					margin-left: 0%;
					width: 100% !important;
				}

				&:nth-child(6){
					margin-left: 0%;
					width: 100% !important;
				}

				&:nth-child(7){
					margin-left: 0%;
					width: 100% !important;
				}

				&:nth-child(8){
					margin-left: 0%;
					width: 100% !important;
				}

				&:nth-child(9){
					margin-left: 0%;
					width: 100% !important;
				}

				&:nth-child(10){
				margin-left: 0%;
				width: 100% !important;
				} 
			}
		}

		.btn {
			padding: 25px;
		}
	}
	/*************************
		footer
	///**********************/
	.footer {
		padding: 40px 0;

		.widget {
			text-align: center;

			ul {
				display: inline-block; 
			}
		}

		.socail-widget {
				float: none;
				margin-top: 10px;
				text-align: center; 

				ul { 
					float: none;
					margin-bottom: -6px; 
				}
		}
	} 	 
}/*/// 767px ///*/

@media only screen and(max-width: 680px) {

	/// Button 
	.btn {
		padding: 9px 20px;	
	}
	/*************************
		woner
	///**********************/
	.woner {

		.row { 
			height: 430px;

			.content {
				height: 430px;
			}

			.slider-img {
				left: 41%;
				max-width: 320px;
			}
		}
	}
	 
}/*/// 680px ///*/

@media only screen and(max-width: 575px) {
	 
	/*************************
		woner
	///**********************/
	.woner {

		.row {  
			height: 415px;

			.content {
				height: 415px;
			}

			.slider-img {
				left: 45%;
				max-width: 300px;
			}
		}
	}
	 
}/*/// 575px ///*/

@media only screen and(max-width: 540px) { 

	/*************************
		woner
	///**********************/
	.woner {

		.row {
			height: 410px;

			.content {
				height: 410px;
				padding-top: 25px;
				padding-bottom: 20px;
			}

			.slider-img {
				left: 38%;
				max-width: 280px;
			}
		}
	}
	 
}/*/// 540px ///*/

@media only screen and(max-width: 480px) {

	/*************************
		woner
	///**********************/
	.woner {

		.row { 
			
			.slider-img {
				left: 35%;
				max-width: 280px;
			}
		}
	}
}/*/// 480px ///*/
@media only screen and(max-width: 420px) { 

	/*************************
		woner
	///**********************/
	.woner {

		.row { 
			height: 415px;

			.content {
				height: 415px;
				padding-top: 50px;


				.title {
					margin-bottom: 15px;
				}
			}

			.slider-img {
				left: 35%;
				max-width: 280px;
			}
		}
	}
	 
}/*/// 420px ///*/

@media only screen and(max-width: 380px) {
 
	/// Button 
	.btn {
		font-size: 14px;
		padding: 9px 16px;	
	}
	/*************************
		woner
	///**********************/
	.woner {

		.row { 
			height: 415px;

			.content {
				height: 415px;
				padding-top: 50px;


				.title {
					margin-bottom: 15px;
				}
			}

			.slider-img {
				left: 34%;
				max-width: 250px;
			}
		}
	}
	 
}/*/// 380px ///*/

@media only screen and(max-width: 320px) {

	/// Button 
	.btn {
		font-size: 14px;
		padding: 9px 16px;	
	}
	/*************************
		woner
	///**********************/
	.woner {

		.row {  
			
			.slider-img {
				max-width: 215px;
			}
		}
	}
	 
}/*/// 320px ///*/