/*************************
	Base style
///***********************/
	@import "base";   /*/// base ///*/
	@import "extend"; /*/// extend ///*/
	@import "mixin";  /*/// mixin ///*/

	// Color
	$blue: #099999;
	$white: #DDDDDD;
	$black: #3D3D3D;
	$yellow: #FDC124;
	$dark_black: #424C5E;

	/// Font
	$aka: 'Akaya Kanadaka', cursive;
	$spori: 'Shippori Mincho', serif;

	/// H1 -- h6
	h1, .h2, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
		color: $yellow;
		font-weight: 700;
		font-family: $spori;
	}

	h1, .h1 {
		font-size: 37px;
    	line-height: 49px;
	}
	h2, .h2 {
		font-size: 32px;
		line-height: 41px;
	}
	h3, .h3 {
		font-size: 27px;
		line-height: 39px;
	}
	h4, .h4 {
		font-size: 25px;
		line-height: 36px;
	}
	h5, .h5 {
		font-size: 22px;
		line-height: 33px;
	}
	/// Button 
	.btn {
		color: $yellow;
		font-size: 18px;
		background: $blue;
		border-radius: 5px;
		padding: 10px 32px;	
		border: 1px solid $white;
		@include transition(all .3s ease);

		&:hover, &:focus {
			color: $black;
			background: $yellow;
		}
	}
	///Body 
	body {
		font-family: $aka;
		color: $dark_black;
		position: relative;
		overflow-x: hidden;
	}

	html, body {
		width: 100%;
	}
/*************************
	show-overly
///**********************/
.show-overly {
	opacity: 0;
	width: 100%;
	z-index: -1;
	height: 100%;
	position: fixed;
	background: #000;
	@include transition(all .3s ease);

	&.active {
		opacity: .7;
		z-index: 19;
	}
}
/*************************
	search-bar
///**********************/
.search-bar {
	top: 0;
	width: 500px;
	z-index: -999;
	right: -500px;
	display: table;
	min-height: 250px;
	position: absolute;
	background: #f1f1df;
	@include transition(all .4s ease);

	&.active {
		right: 0;
		z-index: 999;
	}

	.content {
		display: table-cell;
		vertical-align: middle;

		input[type="search"] {
			width: 40%;
			background: #F4EAE8;
			border-radius: 50px;
			padding: 10px 51px 10px 20px;

			&:focus {
				outline: none;
			}
		} 

		button[type="submit"] {
				top: 46%;
				left: 62%;
				border: none;
				position: absolute;
				background: transparent;

				.fa-search { 
					color: $blue;
					font-size: 20px;
					background: transparent;
				}

				&:focus {
					outline: none;
				}
		}
	}

	.close-btn {
		top: 2%;
		right: 42px;
		position: absolute;

		.search-close {
			float: right;
			margin: 0;
		    border: 0;
		    padding: 0;
		    width: 25px;
		    display: block;
		    border-radius: 0;
		    background: transparent;

		    span.bar-menu:first-child {
		        transform: translateY(12px) rotate(45deg);
		    }

		    span.bar-menu:last-child {
		        transform: translateY(-16px) rotate(-45deg);
		    }

			span.bar-menu {
		        height: 4px;
		        width: 100%;
		        display: block;
		        border-radius: 0;
		        background-color: $yellow; 

		        &:nth-child(2) {
		        	opacity: 0;
		        }
		        &:not(:last-child) { 
		        	margin: 10px 0;
		        }
			}

	   		&:focus {

		    	outline: none;
		    }

		}
	}
}
/*************************
	header
///**********************/
.header {
	top: 0;
	left: 0;
	right: 0;
	z-index: 9;
	padding: 10px 0;
	font-weight: 700;
	position: absolute;
	font-family: $spori;

	.navbar {
		padding: 0px 15px;

		.navbar-header {

			.logo {
 				
 				img {
 					width: 100%;
 					height: 45px;
 					max-width: 123px;
 				}
			}
		}

		.navbar-nav {

			li {

				a {
					color: $blue;
					font-size: 15px;
					position: relative;
					padding: 10px 15px;
					display: inline-block;

					&:hover, &.active, &:focus {
						color: $yellow;
						text-decoration: none;

						&:after {
							top: 16px;
							left: -2px;
							content: "";
							width: 12px;
							height: 12px;
							position: absolute;
							border-radius: 50px;
							background: $yellow;
							border: 2px solid #fff;
						}
					}
				}
			}
		}

		.search-icon {

			.search-triger { 
				width: 25px;
				border: 0px;
				color: $blue;
				background: transparent;

				&:focus {
					outline: none;
				} 
			} 
		}
	}
}
/*************************
	woner
///**********************/
.woner {

	.row {
		height: 670px;
		display: table;
		position: relative;

		.content {
			height: 670px;
			display: table-cell;
			vertical-align: middle;

			.title {
				margin: 20px 0;
			}

			p {
				font-size: 15px;
				line-height: 27px;
				color: $dark_black;
			}

			.button {
				margin-top: 15px;

				.btn {
					

					.fa-angle-right {
						font-weight: 600;
						padding-left: 5px;
					}
				}
			}
		}

		.slider-img {
			left: 63%;
			bottom: 0;
			max-width: 520px;
			max-height: 570px;
			position: absolute;
		}
	}
}
/*************************
	product-area
*************************/
.services {
	width: 100%;
	margin: 135px 0;
	display: inline-block;

	.content {
		max-width: 750px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 70px;

		p {
			font-size: 18px;
			margin-top: 20px;
		}

	}

	.product-list {
		margin-bottom: 35px;

		.single-item {
			width: 20%;
			height: 305px;
			margin-bottom: 20px;
			background-color: #F5F0EF;
			background-repeat: no-repeat;
			background-position: top center;

			&:hover {

				&:after{
					opacity: 0.5;
				}

				.favarate-link {
					z-index: 2;
					position: relative;
					
					a {
						color: #fff;
					}
				}

				.item-hover {
					opacity: 1;

					a {
						margin-top: -13px;
					}
				}
			}

			&:after {
				top: 0;
				opacity: 0;
				content: "";
				z-index: 1;
				width: 100%;
				height: 100%;
				position: absolute;
				background: #97C6D5;
				@include transition(all .3s ease);
			}

			&:nth-child(2) { 
				width: 78%;
				height: 630px;
				margin-left: 2%;
			}

			&:nth-child(3){
				background-color: #E4EBEB;
			}

			&:nth-child(4){
				width: 56%;
				background-color: #F0EFEA;
			}

			&:nth-child(5){
				margin-left: -2%;
			}

			&:nth-child(6){
				background-color: #F0F4F2;
			}

			&:nth-child(7){
				background-color: #F0F4F2;
			}

			&:nth-child(8){
				margin-left: 2%;
				background-color: #F0F4F2;
			}

			&:nth-child(9){
				width: 34%;
				margin-left: -16%;
				background-color: #F3EBF2;
			}

			&:nth-child(10){ 
				background-color: #EFEFE9;
			}
			 
			.favarate-link {
				float: right;
				padding-top: 13px;
				padding-right: 13px;
				display: inline-block;
				@include transition(all .3s ease);

				a {
					color: $blue;
					font-size: 20px;
					margin-right: 7px;
				}
			}

			.item-hover {
				opacity: 0;

				a {
					top: 50%;
					left: 50%;
					z-index: 9;
					color: $blue;
					font-size: 16px;
					font-weight: 700;
					line-height: 26px;
					margin-top: -50px;
					padding: 7px 19px;
					margin-left: -40px;
					position: absolute;
					border: 2px solid #fff;
					@include transition(all .3s ease);

					&:hover {
						background: $yellow;
						text-decoration: none;
					}
				}

				.hover-bottom {
					bottom: 0;
					z-index: 9;
					width: 100%;
					background: #fff;
					padding-top: 15px;
					position: absolute;
					@include transition(all .3s ease);

					.title {
						color: $yellow;
						font-size: 16px;
						font-weight: 700;
					}

					p {
						color: #89838a;
						font-size: 14px;
						font-weight: 700;

						.right-border {
							width: 1px;
							height: 13px;
							margin: 0px 13px;
							background: #908A91;
							margin-bottom: -2px;
							display: inline-block;
						}

						span {
							width: 10px;
							height: 10px;
							display: inline-block;
							border: 1px solid #D9D4DA;

							&:not(:last-child) {
								margin-right: 8px;
							}
						} 

						.red {
							background: #EE4A4A;
						}

						.blue {
							background: $blue;
						}
					}

					.price {
						right: 0;
						top: 16px;
						color: $blue;
						line-height: 30px;
						font-size: 20px;
						font-weight: 700;
						position: absolute;
					}
				}
			}
		}
	}

	.btn {
		padding: 40px;
		display: block;
		font-weight: 700; 
		text-align: center;
	}
}
/*************************
	About Page
\\\**********************/
.details {
	margin-top: 80px;
	background: #011538;

	.content { 
		padding: 100px;

		.title {
			color: $white; 

			&.profesion {
				float: right;
				font-size: 30px;
			}
		}

		.name {
			color: $blue;
			padding: 20px;
			margin: 20px 0;
			font-size: 50px;
			line-height: 70px;
			margin-left: 300px;
			text-align: center;
			font-style: italic;
			display: inline-block;
			border: 2px solid $white;
		} 
	}	
}

.about-me {
	margin: 50px 0;

	.content {

		h1.title {
			position: relative;
			padding-bottom: 20px;

			&:after {
				left: 0;
				bottom: 0;
				content: "";
				width: 40px;
				height: 5px;
				background: $blue;
				position: absolute;
			}
		}
	}
	.content {

		h5.title {

		}

		p {

		}
	}
}
/*************************
	footer
\\\**********************/
.footer {
	padding: 40px 0;
	margin-top: 50px;
	font-weight: 700;
	font-family: $spori;
	background-color: #F0F0F0;

	.widget {

		ul {

			li {
				float: left;

				&:not(:last-child) {
					margin-right: 17px;
				}

				a {
					color: $blue;
					font-size: 18px;
					@include transition(all .3s ease);

					&:hover {
						color: $yellow;
						text-decoration: none;
					}
				}
			}
		}
	}

	.socail-widget {
		float: right;

		.follow {
			color: $blue;
			font-size: 18px;
			margin-right: 17px;
			@include transition(all .3s ease);

			&:hover {
				color: $yellow;
				text-decoration: none;
			}
		}

		ul {
			float: right;

			li {

				a {
					color: $blue;
					font-size: 18px;
				}
			}
		}
	}
} 
@import "responsive"; /*/// Responsive ///*/
